* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

$square-size: 150px;

@mixin square($color: White) {
  background: $color;
  border: 1px solid #999;
  float: left;
  font-size: $square-size;
  font-weight: bold;
  line-height: 34px;
  height: $square-size;
  margin-right: -1px;
  margin-top: -1px;
  width: $square-size;
  padding: 0;
  text-align: center;
  border-radius: 5px;
}

.square {
  @include square
}

.winningSquare {
  @include square(LightGreen)
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  text-align: center;
}

.game {
  font-size: 25px;
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
